In [ ]:
# 파이썬 라이브러리 호출
from urllib.parse import urlencode, unquote
import requests
import json
import pandas as pd
import math
import numpy as np

In [ ]:
# 인증키
encoding ='XmfiH3nZQaeyXUgpfyj0gIMZVKgMHhJp4bErJEN7Bc3ObVkDLBT3Z3pD4Fzj3wcxzDmdEUIsbDqclA3%2BmExZwQ%3D%3D'
decoding ='XmfiH3nZQaeyXUgpfyj0gIMZVKgMHhJp4bErJEN7Bc3ObVkDLBT3Z3pD4Fzj3wcxzDmdEUIsbDqclA3+mExZwQ=='

In [ ]:
url ='http://apis.data.go.kr/1160100/service/GetFinaStatInfoService/getSummFinaStat'

In [ ]:
# 하나씩 불러오기
# queryString
empty2 =pd.DataFrame()
queryString = "?"+urlencode(
{
    "serviceKey":unquote("XmfiH3nZQaeyXUgpfyj0gIMZVKgMHhJp4bErJEN7Bc3ObVkDLBT3Z3pD4Fzj3wcxzDmdEUIsbDqclA3+mExZwQ=="),
      "pageNo":'1',
"numOfRows":"10",
"resultType":"json",
 "bizYear" :"2021"
}
)
queryURL = url + queryString
response = requests.get(queryURL)
r_dict = json.loads(response.text)
doc = r_dict["response"]["body"]["items"]["item"]
df =pd.DataFrame(doc)
empty2 = empty.append(df)

In [ ]:
empty2

,basDt,crno,bizYear,fnclDcd,fnclDcdNm,enpSaleAmt,enpBzopPft,iclsPalClcAmt,enpCrtmNpf,enpTastAmt,enpTdbtAmt,enpTcptAmt,enpCptlAmt,fnclDebtRto
0,20211231,0000000000000,2021,ifrs_ConsolidatedMember,연결요약재무제표,686721451,16649554,31640370,3441877,2019721913,325037209,1694684704,0,19.179804257
1,20211108,0004108280449,2021,999,NA,1090216000000,0,0,50381000000,777463000000,306292000000,777463000000,114639000000,0
2,20211231,1101110000086,2021,ifrs_ConsolidatedMember,연결요약재무제표,15573550042665,207602693266,-638240714552,-272964154001,33426533819002,21629527142066,11797006676936,141443775000,183.3475875228
3,20211231,1101110000086,2021,ifrs_SeparateMember,별도요약재무제표,8408202994035,86093962595,-220666263291,191835328062,24226350269092,14470567698443,9755782570649,141443775000,148.3281079058
4,20211231,1101110002404,2021,120,요약별도재무정보,12800237000,672231000,501586000,501586000,8545560000,6688192000,1857368000,1150000000,360.0897614258
5,20211231,1101110002694,2021,ifrs_ConsolidatedMember,연결요약재무제표,9036575422803,646485539335,657929791442,428803249577,15183727264768,10311003421948,4872723842820,427907450000,211.6065624597
6,20211231,1101110002694,2021,ifrs_SeparateMember,별도요약재무제표,7795915289675,514791410851,462589575299,317165450225,12829912597014,7994357649103,4835554947911,427907450000,165.3245125993
7,20211231,1101110002959,2021,ifrs_ConsolidatedMember,연결요약재무제표,52836069000000,2927888000000,3070696000000,2162057000000,202366402000000,181319145000000,21047257000000,489550000000,861.4858696314
8,20211231,1101110002959,2021,ifrs_SeparateMember,별도요약재무제표,3935569000000,228932000000,171154000000,131486000000,8129051000000,4541728000000,3587323000000,489550000000,126.6049363272
9,20211231,1101110003098,2021,ifrs_ConsolidatedMember,연결요약재무제표,2802218863760,260726838588,223648623359,171466423616,3051904549495,1565018656224,1486885893271,18388205000,105.2547921335

In [ ]:
r_dict

{'response': {'body': {'items': {'item': []},
   'numOfRows': 10,
   'pageNo': 11207,
   'totalCount': 112052},
  'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'}}}

In [ ]:
queryURL = url + queryString

In [ ]:
response = requests.get(queryURL)

In [ ]:
# json 값 가져오기
# data = requests.get(queryURL).json()
data = response.json()

In [ ]:
print(data)

{'response': {'body': {'items': {'item': [{'basDt': '20211231', 'crno': '1101114806993', 'bizYear': '2021', 'fnclDcd': '120', 'fnclDcdNm': '요약별도재무정보', 'enpSaleAmt': '1584926000', 'enpBzopPft': '-603105000', 'iclsPalClcAmt': '-597318000', 'enpCrtmNpf': '-597413000', 'enpTastAmt': '1376936000', 'enpTdbtAmt': '1943012000', 'enpTcptAmt': '-566076000', 'enpCptlAmt': '50000000', 'fnclDebtRto': '-343.2422501572'}, {'basDt': '20211231', 'crno': '1101114807157', 'bizYear': '2021', 'fnclDcd': '110', 'fnclDcdNm': '요약연결재무제표', 'enpSaleAmt': '1335000000', 'enpBzopPft': '65000000', 'iclsPalClcAmt': '93000000', 'enpCrtmNpf': '93000000', 'enpTastAmt': '342000000', 'enpTdbtAmt': '843000000', 'enpTcptAmt': '-501000000', 'enpCptlAmt': '50000000', 'fnclDebtRto': '0'}, {'basDt': '20211231', 'crno': '1101114807363', 'bizYear': '2021', 'fnclDcd': '110', 'fnclDcdNm': '요약연결재무제표', 'enpSaleAmt': '1129000000', 'enpBzopPft': '-439000000', 'iclsPalClcAmt': '-486000000', 'enpCrtmNpf': '-486000000', 'enpTastAmt': '4498000000', 'enpTdbtAmt': '2963000000', 'enpTcptAmt': '1535000000', 'enpCptlAmt': '400000000', 'fnclDebtRto': '193.03'}, {'basDt': '20211231', 'crno': '1101114807404', 'bizYear': '2021', 'fnclDcd': '110', 'fnclDcdNm': '요약연결재무제표', 'enpSaleAmt': '6309000000', 'enpBzopPft': '82000000', 'iclsPalClcAmt': '84000000', 'enpCrtmNpf': '75000000', 'enpTastAmt': '2272000000', 'enpTdbtAmt': '1802000000', 'enpTcptAmt': '470000000', 'enpCptlAmt': '50000000', 'fnclDebtRto': '383.4'}, {'basDt': '20211231', 'crno': '1101114807579', 'bizYear': '2021', 'fnclDcd': '120', 'fnclDcdNm': '요약별도재무정보', 'enpSaleAmt': '185400000', 'enpBzopPft': '83674000', 'iclsPalClcAmt': '14859000', 'enpCrtmNpf': '14859000', 'enpTastAmt': '5019123000', 'enpTdbtAmt': '4651464000', 'enpTcptAmt': '367659000', 'enpCptlAmt': '450000000', 'fnclDebtRto': '1265.1571156968'}, {'basDt': '20211231', 'crno': '1101114807686', 'bizYear': '2021', 'fnclDcd': '110', 'fnclDcdNm': '요약연결재무제표', 'enpSaleAmt': '4996000000', 'enpBzopPft': '25000000', 'iclsPalClcAmt': '32000000', 'enpCrtmNpf': '18000000', 'enpTastAmt': '2335000000', 'enpTdbtAmt': '1497000000', 'enpTcptAmt': '838000000', 'enpCptlAmt': '319000000', 'fnclDebtRto': '178.64'}, {'basDt': '20211231', 'crno': '1101114808105', 'bizYear': '2021', 'fnclDcd': '110', 'fnclDcdNm': '요약연결재무제표', 'enpSaleAmt': '453000000', 'enpBzopPft': '102000000', 'iclsPalClcAmt': '76000000', 'enpCrtmNpf': '76000000', 'enpTastAmt': '578000000', 'enpTdbtAmt': '380000000', 'enpTcptAmt': '198000000', 'enpCptlAmt': '325000000', 'fnclDebtRto': '191.92'}, {'basDt': '20211231', 'crno': '1101114808246', 'bizYear': '2021', 'fnclDcd': '120', 'fnclDcdNm': '요약별도재무정보', 'enpSaleAmt': '90000000', 'enpBzopPft': '43465000', 'iclsPalClcAmt': '9424000', 'enpCrtmNpf': '8434000', 'enpTastAmt': '1751502000', 'enpTdbtAmt': '1532340000', 'enpTcptAmt': '219162000', 'enpCptlAmt': '50000000', 'fnclDebtRto': '699.1814274372'}, {'basDt': '20211231', 'crno': '1101114808543', 'bizYear': '2021', 'fnclDcd': '110', 'fnclDcdNm': '요약연결재무제표', 'enpSaleAmt': '14223000000', 'enpBzopPft': '-407000000', 'iclsPalClcAmt': '74000000', 'enpCrtmNpf': '52000000', 'enpTastAmt': '4827000000', 'enpTdbtAmt': '2854000000', 'enpTcptAmt': '1973000000', 'enpCptlAmt': '50000000', 'fnclDebtRto': '144.65'}, {'basDt': '20211231', 'crno': '1101114808618', 'bizYear': '2021', 'fnclDcd': '120', 'fnclDcdNm': '요약별도재무정보', 'enpSaleAmt': '1161776000', 'enpBzopPft': '-111864000', 'iclsPalClcAmt': '-110576000', 'enpCrtmNpf': '-110576000', 'enpTastAmt': '903831000', 'enpTdbtAmt': '1046145000', 'enpTcptAmt': '-142314000', 'enpCptlAmt': '40000000', 'fnclDebtRto': '-735.0963362705'}]}, 'numOfRows': 10, 'pageNo': 145053, 'totalCount': 1545053}, 'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'}}}

In [ ]:
r_dict = json.loads(response.text)

In [ ]:
print(r_dict)

{'response': {'body': {'items': {'item': [{'basDt': '19990212', 'crno': '1101110223563', 'bizYear': '1999', 'fnclDcd': '999', 'fnclDcdNm': 'NA', 'enpSaleAmt': '80365000000', 'enpBzopPft': '0', 'iclsPalClcAmt': '0', 'enpCrtmNpf': '3207000000', 'enpTastAmt': '252512000000', 'enpTdbtAmt': '205225000000', 'enpTcptAmt': '252512000000', 'enpCptlAmt': '10900000000', 'fnclDebtRto': '0'}]}, 'numOfRows': 1, 'pageNo': 1, 'totalCount': 1545053}, 'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'}}}

In [ ]:
doc = r_dict["response"]["body"]["items"]["item"]
print(doc)

[{'basDt': '19991210', 'crno': '1101110223563', 'bizYear': '1999', 'fnclDcd': '999', 'fnclDcdNm': 'NA', 'enpSaleAmt': '80365000000', 'enpBzopPft': '0', 'iclsPalClcAmt': '0', 'enpCrtmNpf': '3207000000', 'enpTastAmt': '252512000000', 'enpTdbtAmt': '205225000000', 'enpTcptAmt': '252512000000', 'enpCptlAmt': '10900000000', 'fnclDebtRto': '0'}]

In [ ]:
empty_df = pd.DataFrame()
df=pd.concat([empty_df,pd.DataFrame(doc)],axis =0)
df

,basDt,crno,bizYear,fnclDcd,fnclDcdNm,enpSaleAmt,enpBzopPft,iclsPalClcAmt,enpCrtmNpf,enpTastAmt,enpTdbtAmt,enpTcptAmt,enpCptlAmt,fnclDebtRto
0,19991210,1101110223563,1999,999,NA,80365000000,0,0,3207000000,252512000000,205225000000,252512000000,10900000000,0

In [ ]:
r_dict = json.loads(response.text)
numOfRows = r_dict["response"]["body"]["numOfRows"]

In [ ]:
totCnt = r_dict["response"]["body"]["totalCount"]
loopCount = math.ceil(totCnt/numOfRows)
print(loopCount)

11206

In [36]:
# 여러 개 불러오기
empty = pd.DataFrame()
error =[]
for number in range(1,1001):
  queryString = "?"+urlencode(
    {       
            "serviceKey":unquote("XmfiH3nZQaeyXUgpfyj0gIMZVKgMHhJp4bErJEN7Bc3ObVkDLBT3Z3pD4Fzj3wcxzDmdEUIsbDqclA3+mExZwQ=="),
                "pageNo": number,
            "numOfRows":"10",
            "resultType":"json",
            "bizYear":"2021"
    }
  )
  queryURL =url +queryString
  try:
    response = requests.get(queryURL)
    r_dict = json.loads(response.text)
    doc = r_dict["response"]["body"]["items"]["item"]
    df = pd.DataFrame(doc)
    empty = empty.append(df)
  except Exception as e:
    print("오류 발생 : ",e)
    print("오류 number : ",number)
    error.append(number)

# 마지막 오류 834

# 1545083 * 10

오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  973

In [43]:
error

[973]

In [44]:
# error들로 만들기
df_error =pd.DataFrame()
for i in error:
  queryString = "?"+urlencode(
  {
      "serviceKey":unquote("XmfiH3nZQaeyXUgpfyj0gIMZVKgMHhJp4bErJEN7Bc3ObVkDLBT3Z3pD4Fzj3wcxzDmdEUIsbDqclA3+mExZwQ=="),
        "pageNo":i,
  "numOfRows":"10",
  "resultType":"json",
  "bizYear" :"2021"
  }
  )
  queryURL = url + queryString
  response = requests.get(queryURL)
  r_dict = json.loads(response.text)
  doc = r_dict["response"]["body"]["items"]["item"]

In [46]:
df_error = pd.DataFrame(doc)
df_error

,basDt,crno,bizYear,fnclDcd,fnclDcdNm,enpSaleAmt,enpBzopPft,iclsPalClcAmt,enpCrtmNpf,enpTastAmt,enpTdbtAmt,enpTcptAmt,enpCptlAmt,fnclDebtRto
0,20211231,1101112776966,2021,120,요약별도재무정보,14531746000,-5718000,16471000,16471000,1265757000,471057000,794700000,50000000,59.274820687
1,20211231,1101112777865,2021,120,요약별도재무정보,646898000,-110608000,-121046000,-121065000,1204170000,396728000,807442000,50000000,49.1339316012
2,20211231,1101112778037,2021,120,요약별도재무정보,1081358000,12033000,12527000,10919000,810595000,323631000,486964000,60000000,66.4589168809
3,20211231,1101112778087,2021,120,요약별도재무정보,9407915000,236077000,95200000,95200000,6212674000,4205753000,2006921000,675000000,209.5624591102
4,20211231,1101112778293,2021,120,요약별도재무정보,40000000,-69433000,-80207000,-80207000,561640000,508503000,53137000,50000000,956.9659559252
5,20211231,1101112778368,2021,120,요약별도재무정보,18825000,-80588000,-76533000,-76533000,29560000,92757000,-63197000,50000000,-146.7743722012
6,20211231,1101112778491,2021,110,요약연결재무제표,7939000000,-86000000,-28000000,-45000000,4228000000,2582000000,1646000000,300000000,156.87
7,20211231,1101112779001,2021,110,요약연결재무제표,1490000000,54000000,40000000,34000000,2709000000,2066000000,643000000,50000000,321.31
8,20211231,1101112779134,2021,110,요약연결재무제표,37353000000,2392000000,2321000000,1775000000,8371000000,1864000000,6507000000,200000000,28.65
9,20211231,1101112779514,2021,120,요약별도재무정보,4075207000,335723000,351625000,313982000,2770067000,798849000,1971218000,300000000,40.5256546967

In [47]:
# 합치기 1 ~1000
df_1 = pd.concat([empty,df_error],axis = 0)
df_1

,basDt,crno,bizYear,fnclDcd,fnclDcdNm,enpSaleAmt,enpBzopPft,iclsPalClcAmt,enpCrtmNpf,enpTastAmt,enpTdbtAmt,enpTcptAmt,enpCptlAmt,fnclDebtRto
0,20211231,0000000000000,2021,ifrs_ConsolidatedMember,연결요약재무제표,686721451,16649554,31640370,3441877,2019721913,325037209,1694684704,0,19.179804257
1,20211108,0004108280449,2021,999,NA,1090216000000,0,0,50381000000,777463000000,306292000000,777463000000,114639000000,0
2,20211231,1101110000086,2021,ifrs_ConsolidatedMember,연결요약재무제표,15573550042665,207602693266,-638240714552,-272964154001,33426533819002,21629527142066,11797006676936,141443775000,183.3475875228
3,20211231,1101110000086,2021,ifrs_SeparateMember,별도요약재무제표,8408202994035,86093962595,-220666263291,191835328062,24226350269092,14470567698443,9755782570649,141443775000,148.3281079058
4,20211231,1101110002404,2021,120,요약별도재무정보,12800237000,672231000,501586000,501586000,8545560000,6688192000,1857368000,1150000000,360.0897614258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,20211231,1101112778368,2021,120,요약별도재무정보,18825000,-80588000,-76533000,-76533000,29560000,92757000,-63197000,50000000,-146.7743722012
6,20211231,1101112778491,2021,110,요약연결재무제표,7939000000,-86000000,-28000000,-45000000,4228000000,2582000000,1646000000,300000000,156.87
7,20211231,1101112779001,2021,110,요약연결재무제표,1490000000,54000000,40000000,34000000,2709000000,2066000000,643000000,50000000,321.31
8,20211231,1101112779134,2021,110,요약연결재무제표,37353000000,2392000000,2321000000,1775000000,8371000000,1864000000,6507000000,200000000,28.65
9,20211231,1101112779514,2021,120,요약별도재무정보,4075207000,335723000,351625000,313982000,2770067000,798849000,1971218000,300000000,40.5256546967

In [ ]:
# 교차검증용
queryString = "?"+urlencode(
{
    "serviceKey":unquote("XmfiH3nZQaeyXUgpfyj0gIMZVKgMHhJp4bErJEN7Bc3ObVkDLBT3Z3pD4Fzj3wcxzDmdEUIsbDqclA3+mExZwQ=="),
      "pageNo":'578',
"numOfRows":"10",
"resultType":"json",
 "bizYear" :"2021"
}
)
queryURL = url + queryString
response = requests.get(queryURL)
r_dict = json.loads(response.text)
doc = r_dict["response"]["body"]["items"]["item"]

,basDt,crno,bizYear,fnclDcd,fnclDcdNm,enpSaleAmt,enpBzopPft,iclsPalClcAmt,enpCrtmNpf,enpTastAmt,enpTdbtAmt,enpTcptAmt,enpCptlAmt,fnclDebtRto
0,20211231,1101111718167,2021,120,요약별도재무정보,589186000,33754000,19560000,17452000,1168994000,612964000,556030000,100000000,110.2393755732
1,20211231,1101111718191,2021,120,요약별도재무정보,12926303000,771287000,783344000,628733000,4035679000,1340714000,2694965000,50000000,49.7488464599
2,20211231,1101111718331,2021,120,요약별도재무정보,0,-33654000,-40687000,-40687000,4926388000,4270317000,656071000,800000000,650.8925101094
3,20211231,1101111718349,2021,110,요약연결재무제표,1397000000,35000000,33000000,30000000,1269000000,314000000,955000000,100000000,32.88
4,20211231,1101111718373,2021,120,요약별도재무정보,4572236000,820817000,582176000,582176000,13955593000,12978143000,977450000,200000000,1327.755179293
5,20211231,1101111718604,2021,120,요약별도재무정보,13429110000,404585000,620128000,533832000,13772746000,5811393000,7961353000,400000000,72.9950424255
6,20211231,1101111718779,2021,120,요약별도재무정보,730521000,341000,-18631000,-18631000,609015000,6252000,602763000,50000000,1.0372235853
7,20211231,1101111718787,2021,120,요약별도재무정보,17815198000,420774000,461941000,420215000,10315953000,5760732000,4555221000,510000000,126.4643801036
8,20211231,1101111719032,2021,120,요약별도재무정보,823433000,-16335000,-27734000,-27734000,801386000,534783000,266603000,300000000,200.5915162244
9,20211231,1101111720112,2021,120,요약별도재무정보,1267637000,-853766000,-846030000,-849336000,1250605000,389266000,861339000,250000000,45.1931237294

In [48]:
# 2000번
empty_2 = pd.DataFrame()
error =[]
for number in range(1001,2001):
  queryString = "?"+urlencode(
    {       
            "serviceKey":unquote("XmfiH3nZQaeyXUgpfyj0gIMZVKgMHhJp4bErJEN7Bc3ObVkDLBT3Z3pD4Fzj3wcxzDmdEUIsbDqclA3+mExZwQ=="),
                "pageNo": number,
            "numOfRows":"10",
            "resultType":"json",
            "bizYear":"2021"
    }
  )
  queryURL =url +queryString
  try:
    response = requests.get(queryURL)
    r_dict = json.loads(response.text)
    doc = r_dict["response"]["body"]["items"]["item"]
    df = pd.DataFrame(doc)
    empty_2 = empty_2.append(df)
  except Exception as e:
    print("오류 발생 : ",e)
    print("오류 number : ",number)
    error.append(number)

오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1525
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1527
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1528
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1548
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1549
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1557
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1559
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1562
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1563
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1565
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1567
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1573
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1574
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1576
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1579
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1593
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1597
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1600
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1610
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1612
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1613
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1616
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1622
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1629
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1630
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1635
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1652
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1653
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1660
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1661
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1664
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1665
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1669
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1670
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1675
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1676
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1680
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1683
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1684
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1685
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1699
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1701
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1706
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1707
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1708
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1710
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1712
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1714
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1716
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  1730

In [52]:
df_error =pd.DataFrame()
for i in error:
  queryString = "?"+urlencode(
  {
      "serviceKey":unquote("XmfiH3nZQaeyXUgpfyj0gIMZVKgMHhJp4bErJEN7Bc3ObVkDLBT3Z3pD4Fzj3wcxzDmdEUIsbDqclA3+mExZwQ=="),
        "pageNo":i,
  "numOfRows":"10",
  "resultType":"json",
  "bizYear" :"2021"
  }
  )
  queryURL = url + queryString
  response = requests.get(queryURL)
  r_dict = json.loads(response.text)
  doc = r_dict["response"]["body"]["items"]["item"]
  df_error =pd.concat([df_error,pd.DataFrame(doc)],axis = 0)

In [54]:
df_error

,basDt,crno,bizYear,fnclDcd,fnclDcdNm,enpSaleAmt,enpBzopPft,iclsPalClcAmt,enpCrtmNpf,enpTastAmt,enpTdbtAmt,enpTcptAmt,enpCptlAmt,fnclDebtRto
0,20211231,1101114178491,2021,120,요약별도재무정보,3525494000,72994000,92292000,91173000,1700239000,429388000,1270851000,555000000,33.7874384959
1,20211231,1101114178847,2021,120,요약별도재무정보,2425085,1233418,1214239,987867,36726428,11582752,25143676,20000000,46.0662633419
2,20211231,1101114179291,2021,120,요약별도재무정보,4341152000,-22212000,361310000,361310000,2334448000,2210946000,123502000,150000000,1790.2106848472
3,20211231,1101114179457,2021,ifrs_ConsolidatedMember,연결요약재무제표,316658569,-8891510563,-14802796153,-14802796153,67879160851,40251982997,27627177854,6750008000,145.697049513
4,20211231,1101114179457,2021,ifrs_SeparateMember,별도요약재무제표,316658569,-8881424568,-14791147505,-14791147505,67651592757,40010598116,27640994641,6750008000,144.7509347462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,20211231,1101114665266,2021,110,요약연결재무제표,1317000000,-1488000000,-1494000000,-1494000000,2747000000,1679000000,1068000000,1841000000,157.21
6,20211231,1101114665357,2021,120,요약별도재무정보,2572035000,-292394000,-280291000,-280291000,1642662000,2038911000,-396249000,39999000,-514.5529704806
7,20211231,1101114665547,2021,120,요약별도재무정보,2609025000,53941000,60541000,55203000,1087044000,667446000,419598000,101000000,159.0679650522
8,20211231,1101114665597,2021,110,요약연결재무제표,2020000000,15000000,10000000,9000000,1361000000,1201000000,160000000,50000000,750.63
9,20211231,1101114666438,2021,110,요약연결재무제표,11144000000,40000000,154000000,142000000,6996000000,5178000000,1818000000,790000000,284.82

In [57]:
df_2 = pd.concat([empty_2, df_error],axis = 0)
df_2

,basDt,crno,bizYear,fnclDcd,fnclDcdNm,enpSaleAmt,enpBzopPft,iclsPalClcAmt,enpCrtmNpf,enpTastAmt,enpTdbtAmt,enpTcptAmt,enpCptlAmt,fnclDebtRto
0,20211231,1101112860842,2021,120,요약별도재무정보,4464051000,62311000,70214000,63193000,1684715000,260968000,1423747000,50000000,18.3296610984
1,20211231,1101112860925,2021,110,요약연결재무제표,88515000000,8786000000,8986000000,7020000000,25955000000,13332000000,12623000000,300000000,105.62
2,20211231,1101112861113,2021,120,요약별도재무정보,3192834000,286947000,303694000,303694000,2478415000,206349000,2272066000,50000000,9.0819984982
3,20211231,1101112861741,2021,120,요약별도재무정보,1083789000,-66268000,77605000,69454000,674497000,434277000,240220000,80000000,180.7830322204
4,20211231,1101112861791,2021,110,요약연결재무제표,5170000000,505000000,542000000,542000000,3111000000,1126000000,1985000000,150000000,56.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,20211231,1101114665266,2021,110,요약연결재무제표,1317000000,-1488000000,-1494000000,-1494000000,2747000000,1679000000,1068000000,1841000000,157.21
6,20211231,1101114665357,2021,120,요약별도재무정보,2572035000,-292394000,-280291000,-280291000,1642662000,2038911000,-396249000,39999000,-514.5529704806
7,20211231,1101114665547,2021,120,요약별도재무정보,2609025000,53941000,60541000,55203000,1087044000,667446000,419598000,101000000,159.0679650522
8,20211231,1101114665597,2021,110,요약연결재무제표,2020000000,15000000,10000000,9000000,1361000000,1201000000,160000000,50000000,750.63
9,20211231,1101114666438,2021,110,요약연결재무제표,11144000000,40000000,154000000,142000000,6996000000,5178000000,1818000000,790000000,284.82

In [ ]:
# 3000번
empty_3 = pd.DataFrame()
error =[]
for number in range(2001,3001):
  queryString = "?"+urlencode(
    {       
            "serviceKey":unquote("XmfiH3nZQaeyXUgpfyj0gIMZVKgMHhJp4bErJEN7Bc3ObVkDLBT3Z3pD4Fzj3wcxzDmdEUIsbDqclA3+mExZwQ=="),
                "pageNo": number,
            "numOfRows":"10",
            "resultType":"json",
            "bizYear":"2021"
    }
  )
  queryURL =url +queryString
  try:
    response = requests.get(queryURL)
    r_dict = json.loads(response.text)
    doc = r_dict["response"]["body"]["items"]["item"]
    df = pd.DataFrame(doc)
    empty_3 = empty_3.append(df)
  except Exception as e:
    print("오류 발생 : ",e)
    print("오류 number : ",number)
    error.append(number)

In [ ]:
empty_3
df_3 = empty_3

In [ ]:
# 3000번 ~ 5000
empty_4 = pd.DataFrame()
error =[]
for number in range(3001,5001):
  queryString = "?"+urlencode(
    {       
            "serviceKey":unquote("XmfiH3nZQaeyXUgpfyj0gIMZVKgMHhJp4bErJEN7Bc3ObVkDLBT3Z3pD4Fzj3wcxzDmdEUIsbDqclA3+mExZwQ=="),
                "pageNo": number,
            "numOfRows":"10",
            "resultType":"json",
            "bizYear":"2021"
    }
  )
  queryURL =url +queryString
  try:
    response = requests.get(queryURL)
    r_dict = json.loads(response.text)
    doc = r_dict["response"]["body"]["items"]["item"]
    df = pd.DataFrame(doc)
    empty_4 = empty_4.append(df)
  except Exception as e:
    print("오류 발생 : ",e)
    print("오류 number : ",number)
    error.append(number)

오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  3879
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  3881
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  4784
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  4785
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  4807

In [ ]:
df_4 = empty_4

In [ ]:
# error 넣기
# error들로 만들기
df_error =pd.DataFrame()
for i in error:
  queryString = "?"+urlencode(
  {
      "serviceKey":unquote("XmfiH3nZQaeyXUgpfyj0gIMZVKgMHhJp4bErJEN7Bc3ObVkDLBT3Z3pD4Fzj3wcxzDmdEUIsbDqclA3+mExZwQ=="),
        "pageNo":i,
  "numOfRows":"10",
  "resultType":"json",
  "bizYear" :"2021"
  }
  )
  queryURL = url + queryString
  response = requests.get(queryURL)
  r_dict = json.loads(response.text)
  doc = r_dict["response"]["body"]["items"]["item"]
  df_error =pd.concat([df_error,pd.DataFrame(doc)],axis = 0) # axis = 0 행 기준으로 합침, axis =1 열 기준으로 합침

In [ ]:
df_4 = pd.concat([df_4, df_error],axis = 0)
df_4

,basDt,crno,bizYear,fnclDcd,fnclDcdNm,enpSaleAmt,enpBzopPft,iclsPalClcAmt,enpCrtmNpf,enpTastAmt,enpTdbtAmt,enpTcptAmt,enpCptlAmt,fnclDebtRto
0,20210430,1101117855103,2021,120,요약별도재무정보,0,0,0,0,55507000,26012000,29495000,30000000,88.1912188506
1,20211231,1101117855301,2021,120,요약별도재무정보,29574834000,12794182000,12625364000,11182273000,22180431000,10948158000,11232273000,50000000,97.4705475908
2,20211231,1101117855947,2021,110,요약연결재무제표,405000000,34000000,37000000,33000000,181000000,48000000,133000000,100000000,36.09
3,20211231,1101117856250,2021,110,요약연결재무제표,247000000,35000000,37000000,34000000,217000000,132000000,85000000,50000000,155.29
4,20211231,1101117857589,2021,110,요약연결재무제표,792000000,267000000,270000000,231000000,529000000,198000000,331000000,100000000,59.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,20211231,1314110347156,2021,120,요약별도재무정보,14380691000,618544000,711817000,703665000,8305569000,6468515000,1837054000,300000000,352.113492581
6,20211231,1314110347297,2021,120,요약별도재무정보,1636956000,263242000,231682000,214169000,3580763000,2623900000,956863000,400000000,274.2189843269
7,20211231,1314110347891,2021,120,요약별도재무정보,1701053000,187354000,240391000,230453000,4098580000,2568344000,1530236000,50000000,167.8397319106
8,20211231,1314110347958,2021,120,요약별도재무정보,756534000,-27504000,37942000,33728000,2462983000,1839939000,623044000,100000000,295.3144561218
9,20211231,1314110348013,2021,120,요약별도재무정보,352523000,105963000,97350000,97350000,143758000,368970000,-225212000,100000000,-163.8323002326

In [17]:
# 5000 ~ 7000
empty_5 = pd.DataFrame()
error =[]
for number in range(5001,7001):
  queryString = "?"+urlencode(
    {       
            "serviceKey":unquote("XmfiH3nZQaeyXUgpfyj0gIMZVKgMHhJp4bErJEN7Bc3ObVkDLBT3Z3pD4Fzj3wcxzDmdEUIsbDqclA3+mExZwQ=="),
                "pageNo": number,
            "numOfRows":"10",
            "resultType":"json",
            "bizYear":"2021"
    }
  )
  queryURL =url +queryString
  try:
    response = requests.get(queryURL)
    r_dict = json.loads(response.text)
    doc = r_dict["response"]["body"]["items"]["item"]
    df = pd.DataFrame(doc)
    empty_5 = empty_5.append(df)
  except Exception as e:
    print("오류 발생 : ",e)
    print("오류 number : ",number)
    error.append(number)

오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5002
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5003
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5004
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5009
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5015
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5018
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5021
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5024
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5041
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5043
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5046
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5048
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5051
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5054
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5059
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5061
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5067
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5069
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5072
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5077
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5078
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5079
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5085
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5092
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5107
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5110
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5111
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5121
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5123
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5125
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5126
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5129
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5131
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5132
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5136
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5137
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5139
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5141
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5142
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5144
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5145
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5146
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5147
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5149
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5151
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5152
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5153
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  5154
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  6457
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  6463

In [19]:
error
len(error)

50

In [20]:
empty_5

,basDt,crno,bizYear,fnclDcd,fnclDcdNm,enpSaleAmt,enpBzopPft,iclsPalClcAmt,enpCrtmNpf,enpTastAmt,enpTdbtAmt,enpTcptAmt,enpCptlAmt,fnclDebtRto
0,20211231,1341110208898,2021,120,요약별도재무정보,3192878000,132902000,134495000,134495000,2446038000,1331629000,1114409000,50000000,119.4919459552
1,20211231,1341110209002,2021,120,요약별도재무정보,872179000,50940000,36605000,33709000,1555071000,1102788000,452283000,100000000,243.8269844323
2,20211231,1341110209028,2021,120,요약별도재무정보,1410155000,68841000,66056000,60770000,506135000,214789000,291346000,100000000,73.7229960253
3,20211231,1341110209317,2021,110,요약연결재무제표,3406000000,103000000,180000000,158000000,2108000000,1058000000,1050000000,300000000,100.76
4,20211231,1341110209862,2021,110,요약연결재무제표,43787000000,1275000000,1366000000,1125000000,10872000000,5028000000,5844000000,100000000,86.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,20211231,1544110033732,2021,120,요약별도재무정보,1443916000,56271000,27741000,25626000,1326602000,1028674000,297928000,220000000,345.2760398485
6,20211231,1544110034277,2021,120,요약별도재무정보,4864284000,1011669000,1052354000,1007344000,7111028000,4290139000,2820889000,150000000,152.084644238
7,20211231,1544110034615,2021,120,요약별도재무정보,2571917000,130230000,96399000,90281000,1583430000,1313011000,270419000,100000000,485.5468735554
8,20211231,1544110034665,2021,120,요약별도재무정보,1001115000,-45387000,-64455000,-74615000,997356000,840459000,156897000,100000000,535.6756343333
9,20211231,1544110034756,2021,110,요약연결재무제표,782000000,39000000,5000000,5000000,6189000000,4225000000,1964000000,1999000000,215.12

In [21]:
# 5000 ~ 7000 에러
df_error =pd.DataFrame()
for i in error:
  queryString = "?"+urlencode(
  {
      "serviceKey":unquote("XmfiH3nZQaeyXUgpfyj0gIMZVKgMHhJp4bErJEN7Bc3ObVkDLBT3Z3pD4Fzj3wcxzDmdEUIsbDqclA3+mExZwQ=="),
        "pageNo":i,
  "numOfRows":"10",
  "resultType":"json",
  "bizYear" :"2021"
  }
  )
  queryURL = url + queryString
  response = requests.get(queryURL)
  r_dict = json.loads(response.text)
  doc = r_dict["response"]["body"]["items"]["item"]
  df_error =pd.concat([df_error,pd.DataFrame(doc)],axis = 0)

In [24]:
df_5 = pd.concat([empty_5, df_error],axis =0)
df_5

,basDt,crno,bizYear,fnclDcd,fnclDcdNm,enpSaleAmt,enpBzopPft,iclsPalClcAmt,enpCrtmNpf,enpTastAmt,enpTdbtAmt,enpTcptAmt,enpCptlAmt,fnclDebtRto
0,20211231,1341110208898,2021,120,요약별도재무정보,3192878000,132902000,134495000,134495000,2446038000,1331629000,1114409000,50000000,119.4919459552
1,20211231,1341110209002,2021,120,요약별도재무정보,872179000,50940000,36605000,33709000,1555071000,1102788000,452283000,100000000,243.8269844323
2,20211231,1341110209028,2021,120,요약별도재무정보,1410155000,68841000,66056000,60770000,506135000,214789000,291346000,100000000,73.7229960253
3,20211231,1341110209317,2021,110,요약연결재무제표,3406000000,103000000,180000000,158000000,2108000000,1058000000,1050000000,300000000,100.76
4,20211231,1341110209862,2021,110,요약연결재무제표,43787000000,1275000000,1366000000,1125000000,10872000000,5028000000,5844000000,100000000,86.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,20211231,1355110359577,2021,120,요약별도재무정보,1605838000,141643000,146675000,137089000,299782000,155267000,144515000,50000000,107.4400581254
6,20211231,1355110359692,2021,120,요약별도재무정보,5526679000,726130000,725319000,649983000,1804698000,718332000,1086366000,339900000,66.1224670138
7,20211231,1355110359791,2021,120,요약별도재무정보,339614000,-568025000,-540505000,-540505000,888650000,1487896000,-599246000,30000000,-248.2946903275
8,20211231,1355110360053,2021,120,요약별도재무정보,499937000,107391000,100354000,91270000,493351000,346193000,147158000,50000000,235.2525856562
9,20211231,1355110360326,2021,120,요약별도재무정보,880638000,-172931000,-191010000,-196777000,729109000,752900000,-23791000,100000000,-3164.6420915472

In [25]:
# 7000 ~ 9000
empty_6 = pd.DataFrame()
error =[]
for number in range(7001,9001):
  queryString = "?"+urlencode(
    {       
            "serviceKey":unquote("XmfiH3nZQaeyXUgpfyj0gIMZVKgMHhJp4bErJEN7Bc3ObVkDLBT3Z3pD4Fzj3wcxzDmdEUIsbDqclA3+mExZwQ=="),
                "pageNo": number,
            "numOfRows":"10",
            "resultType":"json",
            "bizYear":"2021"
    }
  )
  queryURL =url +queryString
  try:
    response = requests.get(queryURL)
    r_dict = json.loads(response.text)
    doc = r_dict["response"]["body"]["items"]["item"]
    df = pd.DataFrame(doc)
    empty_6 = empty_6.append(df)
  except Exception as e:
    print("오류 발생 : ",e)
    print("오류 number : ",number)
    error.append(number)

오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  7262
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  7264
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  7265
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  7266
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  8171

In [33]:
df_error =pd.DataFrame()
for i in error:
  queryString = "?"+urlencode(
  {
      "serviceKey":unquote("XmfiH3nZQaeyXUgpfyj0gIMZVKgMHhJp4bErJEN7Bc3ObVkDLBT3Z3pD4Fzj3wcxzDmdEUIsbDqclA3+mExZwQ=="),
        "pageNo":i,
  "numOfRows":"10",
  "resultType":"json",
  "bizYear" :"2021"
  }
  )
  queryURL = url + queryString
  response = requests.get(queryURL)
  r_dict = json.loads(response.text)
  doc = r_dict["response"]["body"]["items"]["item"]
  df_error =pd.concat([df_error,pd.DataFrame(doc)],axis = 0)

In [34]:
df_6 = pd.concat([empty_6,df_error],axis = 0)

In [35]:
df_6

,basDt,crno,bizYear,fnclDcd,fnclDcdNm,enpSaleAmt,enpBzopPft,iclsPalClcAmt,enpCrtmNpf,enpTastAmt,enpTdbtAmt,enpTcptAmt,enpCptlAmt,fnclDebtRto
0,20211231,1544110036851,2021,120,요약별도재무정보,651736000,14016000,-15029000,-15029000,1593744000,1507756000,85988000,100000000,1753.4493185095
1,20211231,1544110037833,2021,120,요약별도재무정보,993499000,87626000,65147000,64279000,1055443000,883277000,172166000,100000000,513.037998211
2,20211231,1544110038063,2021,110,요약연결재무제표,556000000,7000000,28000000,28000000,146000000,21000000,125000000,100000000,16.8
3,20211231,1544110038352,2021,110,요약연결재무제표,0,-73000000,-80000000,-80000000,3900000000,1990000000,1910000000,2000000000,104.19
4,20211231,1544110039342,2021,110,요약연결재무제표,0,-60000000,-10000000,-10000000,1302000000,1262000000,40000000,50000000,3155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,20211231,1743110000763,2021,120,요약별도재무정보,8025553000,248871000,250790000,250790000,3529717000,1148284000,2381433000,700000000,48.2181946752
6,20211231,1743110000797,2021,110,요약연결재무제표,2006000000,95000000,40000000,40000000,2427000000,1420000000,1007000000,99000000,141.01
7,20211231,1743110001167,2021,110,요약연결재무제표,1616000000,-487000000,-501000000,-501000000,2591000000,1958000000,633000000,199000000,309.32
8,20211231,1743110001349,2021,110,요약연결재무제표,2259000000,45000000,73000000,59000000,2954000000,1676000000,1278000000,50000000,131.14
9,20211231,1743110001589,2021,110,요약연결재무제표,6952000000,-324000000,-331000000,-331000000,2017000000,584000000,1433000000,1215000000,40.75

In [ ]:
# 변수에 따른 값을 부여, global()[이름]
for i in range(1,6):
  globals()['var_{0}'.format(i)] =i

In [66]:
df_list = [df_1,df_2,df_3,df_4,df_5,df_6]
save_1 =pd.concat(df_list,ignore_index =True)

In [67]:
save_1

,basDt,crno,bizYear,fnclDcd,fnclDcdNm,enpSaleAmt,enpBzopPft,iclsPalClcAmt,enpCrtmNpf,enpTastAmt,enpTdbtAmt,enpTcptAmt,enpCptlAmt,fnclDebtRto
0,20211231,0000000000000,2021,ifrs_ConsolidatedMember,연결요약재무제표,686721451,16649554,31640370,3441877,2019721913,325037209,1694684704,0,19.179804257
1,20211108,0004108280449,2021,999,NA,1090216000000,0,0,50381000000,777463000000,306292000000,777463000000,114639000000,0
2,20211231,1101110000086,2021,ifrs_ConsolidatedMember,연결요약재무제표,15573550042665,207602693266,-638240714552,-272964154001,33426533819002,21629527142066,11797006676936,141443775000,183.3475875228
3,20211231,1101110000086,2021,ifrs_SeparateMember,별도요약재무제표,8408202994035,86093962595,-220666263291,191835328062,24226350269092,14470567698443,9755782570649,141443775000,148.3281079058
4,20211231,1101110002404,2021,120,요약별도재무정보,12800237000,672231000,501586000,501586000,8545560000,6688192000,1857368000,1150000000,360.0897614258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89995,20211231,1743110000763,2021,120,요약별도재무정보,8025553000,248871000,250790000,250790000,3529717000,1148284000,2381433000,700000000,48.2181946752
89996,20211231,1743110000797,2021,110,요약연결재무제표,2006000000,95000000,40000000,40000000,2427000000,1420000000,1007000000,99000000,141.01
89997,20211231,1743110001167,2021,110,요약연결재무제표,1616000000,-487000000,-501000000,-501000000,2591000000,1958000000,633000000,199000000,309.32
89998,20211231,1743110001349,2021,110,요약연결재무제표,2259000000,45000000,73000000,59000000,2954000000,1676000000,1278000000,50000000,131.14
89999,20211231,1743110001589,2021,110,요약연결재무제표,6952000000,-324000000,-331000000,-331000000,2017000000,584000000,1433000000,1215000000,40.75

In [71]:
save_1.to_csv("save_1.csv")

In [70]:
# 9000 ~ 11000
empty_6 = pd.DataFrame()
error =[]
for number in range(9001,11001):
  queryString = "?"+urlencode(
    {       
            "serviceKey":unquote("XmfiH3nZQaeyXUgpfyj0gIMZVKgMHhJp4bErJEN7Bc3ObVkDLBT3Z3pD4Fzj3wcxzDmdEUIsbDqclA3+mExZwQ=="),
                "pageNo": number,
            "numOfRows":"10",
            "resultType":"json",
            "bizYear":"2021"
    }
  )
  queryURL =url +queryString
  try:
    response = requests.get(queryURL)
    r_dict = json.loads(response.text)
    doc = r_dict["response"]["body"]["items"]["item"]
    df = pd.DataFrame(doc)
    empty_6 = empty_6.append(df)
  except Exception as e:
    print("오류 발생 : ",e)
    print("오류 number : ",number)
    error.append(number)

오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  9092
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  10851
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  10853
오류 발생 :  Expecting value: line 1 column 1 (char 0)
오류 number :  10869

In [72]:
error

[9092, 10851, 10853, 10869]

In [73]:
df_error =pd.DataFrame()
for i in error:
  queryString = "?"+urlencode(
  {
      "serviceKey":unquote("XmfiH3nZQaeyXUgpfyj0gIMZVKgMHhJp4bErJEN7Bc3ObVkDLBT3Z3pD4Fzj3wcxzDmdEUIsbDqclA3+mExZwQ=="),
        "pageNo":i,
  "numOfRows":"10",
  "resultType":"json",
  "bizYear" :"2021"
  }
  )
  queryURL = url + queryString
  response = requests.get(queryURL)
  r_dict = json.loads(response.text)
  doc = r_dict["response"]["body"]["items"]["item"]
  df_error =pd.concat([df_error,pd.DataFrame(doc)],axis = 0)

In [75]:
empty_6

,basDt,crno,bizYear,fnclDcd,fnclDcdNm,enpSaleAmt,enpBzopPft,iclsPalClcAmt,enpCrtmNpf,enpTastAmt,enpTdbtAmt,enpTcptAmt,enpCptlAmt,fnclDebtRto
0,20211231,1801111118579,2021,120,요약별도재무정보,2615278000,-561235000,-579190000,-579190000,1096653000,3372820000,-2276167000,50000000,-148.1798128168
1,20211231,1801111118727,2021,120,요약별도재무정보,41826188000,418973000,467028000,389147000,9022178000,6906585000,2115593000,100000000,326.4609497195
2,20211231,1801111118751,2021,120,요약별도재무정보,2165072000,49574000,89947000,81011000,2466572000,1496650000,969922000,150000000,154.3062225622
3,20211231,1801111119048,2021,110,요약연결재무제표,4286000000,98000000,111000000,99000000,840000000,394000000,446000000,140000000,88.34
4,20211231,1801111119064,2021,120,요약별도재무정보,3124000000,64022000,47400000,47400000,1667269000,1277159000,390110000,30000000,327.3843274973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,20211231,2849110146489,2021,120,요약별도재무정보,12835123000,284615000,311909000,270337000,5494807000,4504153000,990654000,50000000,454.6645953077
6,20211231,2849110146497,2021,120,요약별도재무정보,837640000,91752000,37830000,22971000,4587218000,2393229000,2193989000,1606000000,109.0811758855
7,20211231,2849110146611,2021,120,요약별도재무정보,5240054000,1544116000,1803693000,1468960000,5929330000,1881553000,4047777000,100000000,46.4836131041
8,20211231,2849110146918,2021,110,요약연결재무제표,2218000000,94000000,82000000,74000000,997000000,418000000,579000000,190000000,72.19
9,20211231,2849110147007,2021,120,요약별도재무정보,3441407000,41612000,35673000,35673000,2005366000,525415000,1479951000,300000000,35.5021889238

In [77]:
df_7 = pd.concat([empty_6,df_error],axis = 0)
df_7

,basDt,crno,bizYear,fnclDcd,fnclDcdNm,enpSaleAmt,enpBzopPft,iclsPalClcAmt,enpCrtmNpf,enpTastAmt,enpTdbtAmt,enpTcptAmt,enpCptlAmt,fnclDebtRto
0,20211231,1801111118579,2021,120,요약별도재무정보,2615278000,-561235000,-579190000,-579190000,1096653000,3372820000,-2276167000,50000000,-148.1798128168
1,20211231,1801111118727,2021,120,요약별도재무정보,41826188000,418973000,467028000,389147000,9022178000,6906585000,2115593000,100000000,326.4609497195
2,20211231,1801111118751,2021,120,요약별도재무정보,2165072000,49574000,89947000,81011000,2466572000,1496650000,969922000,150000000,154.3062225622
3,20211231,1801111119048,2021,110,요약연결재무제표,4286000000,98000000,111000000,99000000,840000000,394000000,446000000,140000000,88.34
4,20211231,1801111119064,2021,120,요약별도재무정보,3124000000,64022000,47400000,47400000,1667269000,1277159000,390110000,30000000,327.3843274973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,20211231,2842110064180,2021,110,요약연결재무제표,9693000000,292000000,331000000,310000000,3597000000,2149000000,1448000000,200000000,148.41
6,20211231,2842110064370,2021,120,요약별도재무정보,13007723000,375829000,197471000,169651000,10142894000,6757666000,3385228000,230000000,199.6221820214
7,20211231,2842110064908,2021,110,요약연결재무제표,7622000000,166000000,165000000,147000000,1562000000,687000000,875000000,50000000,78.51
8,20211231,2842110065542,2021,110,요약연결재무제표,12647000000,818000000,717000000,613000000,13590000000,5729000000,7861000000,150000000,72.88
9,20211231,2842110065568,2021,120,요약별도재무정보,59753000,-24322000,-36701000,-36701000,64041000,133483000,-69442000,10000000,-192.2222862244

In [78]:
empty_8 = pd.DataFrame()
error =[]
for number in range(11001,11207):
  queryString = "?"+urlencode(
    {       
            "serviceKey":unquote("XmfiH3nZQaeyXUgpfyj0gIMZVKgMHhJp4bErJEN7Bc3ObVkDLBT3Z3pD4Fzj3wcxzDmdEUIsbDqclA3+mExZwQ=="),
                "pageNo": number,
            "numOfRows":"10",
            "resultType":"json",
            "bizYear":"2021"
    }
  )
  queryURL =url +queryString
  try:
    response = requests.get(queryURL)
    r_dict = json.loads(response.text)
    doc = r_dict["response"]["body"]["items"]["item"]
    df = pd.DataFrame(doc)
    empty_8 = empty_8.append(df)
  except Exception as e:
    print("오류 발생 : ",e)
    print("오류 number : ",number)
    error.append(number)

In [ ]:
df_error =pd.DataFrame()
for i in error:
  queryString = "?"+urlencode(
  {
      "serviceKey":unquote("XmfiH3nZQaeyXUgpfyj0gIMZVKgMHhJp4bErJEN7Bc3ObVkDLBT3Z3pD4Fzj3wcxzDmdEUIsbDqclA3+mExZwQ=="),
        "pageNo":i,
  "numOfRows":"10",
  "resultType":"json",
  "bizYear" :"2021"
  }
  )
  queryURL = url + queryString
  response = requests.get(queryURL)
  r_dict = json.loads(response.text)
  doc = r_dict["response"]["body"]["items"]["item"]
  df_error =pd.concat([df_error,pd.DataFrame(doc)],axis = 0)

In [83]:
df_8=empty_8
df_8

,basDt,crno,bizYear,fnclDcd,fnclDcdNm,enpSaleAmt,enpBzopPft,iclsPalClcAmt,enpCrtmNpf,enpTastAmt,enpTdbtAmt,enpTcptAmt,enpCptlAmt,fnclDebtRto
0,20211231,2849110147130,2021,110,요약연결재무제표,2135000000,149000000,145000000,130000000,489000000,221000000,268000000,20000000,82.46
1,20211231,2849110147346,2021,120,요약별도재무정보,3334184000,-138496000,12845000,11432000,3589830000,3290527000,299303000,200000000,1099.3965980962
2,20211231,2849110147560,2021,120,요약별도재무정보,7662175000,268970000,237219000,234384000,5444092000,2539882000,2904210000,998190000,87.4551771393
3,20211231,2849110147776,2021,120,요약별도재무정보,8373051000,482982000,373221000,350016000,7639151000,6359011000,1280140000,50000000,496.7434030652
4,20211231,2849110147859,2021,120,요약별도재무정보,3060388000,176613000,183303000,183303000,2020885000,2260883000,-239998000,50000000,-942.0424336869
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,20210222,5503111058116,2021,999,NA,196765000000,0,0,53401000000,360848000000,162744000000,360848000000,32088000000,0
8,20210629,9991438269831,2021,999,NA,1442069000000,0,0,94691000000,1318016000000,919242000000,1318016000000,245247000000,0
9,20210702,9991438269831,2021,999,NA,1442069000000,0,0,94691000000,1318016000000,919242000000,1318016000000,245247000000,0
0,20210222,9994078269389,2021,999,NA,196765000000,0,0,53401000000,360848000000,162744000000,360848000000,32088000000,0
1,20210325,9995068034198,2021,999,NA,95834000000,0,0,7554000000,91990000000,74875000000,91990000000,1250000000,0

In [86]:
data_list_2 =[save_1,df_7,df_8]
FinalData = pd.concat(data_list_2,ignore_index = True)

In [87]:
FinalData

,basDt,crno,bizYear,fnclDcd,fnclDcdNm,enpSaleAmt,enpBzopPft,iclsPalClcAmt,enpCrtmNpf,enpTastAmt,enpTdbtAmt,enpTcptAmt,enpCptlAmt,fnclDebtRto
0,20211231,0000000000000,2021,ifrs_ConsolidatedMember,연결요약재무제표,686721451,16649554,31640370,3441877,2019721913,325037209,1694684704,0,19.179804257
1,20211108,0004108280449,2021,999,NA,1090216000000,0,0,50381000000,777463000000,306292000000,777463000000,114639000000,0
2,20211231,1101110000086,2021,ifrs_ConsolidatedMember,연결요약재무제표,15573550042665,207602693266,-638240714552,-272964154001,33426533819002,21629527142066,11797006676936,141443775000,183.3475875228
3,20211231,1101110000086,2021,ifrs_SeparateMember,별도요약재무제표,8408202994035,86093962595,-220666263291,191835328062,24226350269092,14470567698443,9755782570649,141443775000,148.3281079058
4,20211231,1101110002404,2021,120,요약별도재무정보,12800237000,672231000,501586000,501586000,8545560000,6688192000,1857368000,1150000000,360.0897614258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112047,20210222,5503111058116,2021,999,NA,196765000000,0,0,53401000000,360848000000,162744000000,360848000000,32088000000,0
112048,20210629,9991438269831,2021,999,NA,1442069000000,0,0,94691000000,1318016000000,919242000000,1318016000000,245247000000,0
112049,20210702,9991438269831,2021,999,NA,1442069000000,0,0,94691000000,1318016000000,919242000000,1318016000000,245247000000,0
112050,20210222,9994078269389,2021,999,NA,196765000000,0,0,53401000000,360848000000,162744000000,360848000000,32088000000,0
112051,20210325,9995068034198,2021,999,NA,95834000000,0,0,7554000000,91990000000,74875000000,91990000000,1250000000,0

In [93]:
names= ['기준일자','법인등록번호','사업연도','재무제표구분코드','재무제표구분코드명','기업매출금액','기업영업이익','포괄손익계산금액','기업당기순이익','기업총자산금액','기업총부채금액','기업총자본금액','기업자본금액','재무제표부채비율']

In [96]:
names= ['기준일자','법인등록번호','사업연도','재무제표구분코드','재무제표구분코드명','기업매출금액','기업영업이익','포괄손익계산금액','기업당기순이익','기업총자산금액','기업총부채금액','기업총자본금액',\
        '기업자본금액','재무제표부채비율']

In [98]:
FinalData.columns =names

In [102]:
FinalData_2021 = FinalData

In [104]:
# 요약재무재표 조회
# 금융위원회_기업
FinalData_2021


FinalData_2021.to_csv("FinalData_2021.csv")

In [105]:
FinalData_2021

,기준일자,법인등록번호,사업연도,재무제표구분코드,재무제표구분코드명,기업매출금액,기업영업이익,포괄손익계산금액,기업당기순이익,기업총자산금액,기업총부채금액,기업총자본금액,기업자본금액,재무제표부채비율
0,20211231,0000000000000,2021,ifrs_ConsolidatedMember,연결요약재무제표,686721451,16649554,31640370,3441877,2019721913,325037209,1694684704,0,19.179804257
1,20211108,0004108280449,2021,999,NA,1090216000000,0,0,50381000000,777463000000,306292000000,777463000000,114639000000,0
2,20211231,1101110000086,2021,ifrs_ConsolidatedMember,연결요약재무제표,15573550042665,207602693266,-638240714552,-272964154001,33426533819002,21629527142066,11797006676936,141443775000,183.3475875228
3,20211231,1101110000086,2021,ifrs_SeparateMember,별도요약재무제표,8408202994035,86093962595,-220666263291,191835328062,24226350269092,14470567698443,9755782570649,141443775000,148.3281079058
4,20211231,1101110002404,2021,120,요약별도재무정보,12800237000,672231000,501586000,501586000,8545560000,6688192000,1857368000,1150000000,360.0897614258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112047,20210222,5503111058116,2021,999,NA,196765000000,0,0,53401000000,360848000000,162744000000,360848000000,32088000000,0
112048,20210629,9991438269831,2021,999,NA,1442069000000,0,0,94691000000,1318016000000,919242000000,1318016000000,245247000000,0
112049,20210702,9991438269831,2021,999,NA,1442069000000,0,0,94691000000,1318016000000,919242000000,1318016000000,245247000000,0
112050,20210222,9994078269389,2021,999,NA,196765000000,0,0,53401000000,360848000000,162744000000,360848000000,32088000000,0
112051,20210325,9995068034198,2021,999,NA,95834000000,0,0,7554000000,91990000000,74875000000,91990000000,1250000000,0

In [106]:
FinalData_2021.to_excel('FinalData_2021.xlsx')